{% extends 'studentreg/base.html' %}

{% load mathfilters %}

{% block title %} Esteem Hostel Admin {% endblock %}
      

 {% block body %}

 <div class="contener bg-primary text-white  d-flex " style="width: 100%;">

        <p class="flex-fill ">Students' Attitude </p>
        <p class="flex-fill ">Number of Records in Students' Attitudes: {{activities.count }}</p>
        <p class="flex-fill ">Welcome, {{ request.user }}</p>
</div>

<hr>

       <div class="card form-control text-center">
        <form  action = "" method = "get" enctype="multipart/form-data" >

        {% csrf_token %}
        
      {{myfilter.form.as_p}}

        <button class = 'btn btn-primary'> Search Result </button> 
        </form>
        </div>
        <hr>


<a href="{% url 'generatepdf' %}">Download to pdf</a>
<hr>
<div class="table-responsive ">
<table class="table table-bordered  ">
        <thead >
               <tr class = 'bg-primary mr-0'>
                        <th scope="col">Names</th>
                        <th scope="col">Class</th>
                        <th scope="col">Term</th>
                        <th scope="col">Week</th>
                        <th scope="col">Attitudes
                        <th scope="col">Mon</th>
                        <th scope="col">Tue</th>
                        <th scope="col">Wed</th>
                        <th scope="col">Thur</th>
                        <th scope="col">Fri</th>
                        <th scope="col">Sat</th>
                        <th scope="col">Sun</th>
                        <th scope="col">Date</th>
                        <th scope="col">Total</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Edit post</th>
                        <th scope="col">Delete Post</th>
                </tr>
        </thead>
        <tbody>
                {% for activity in activities %}
                <tr>
                <td scope = 'row'>{{ activity.names }}</td>
                <td >{{ activity.lavel }}</td>
                <td >{{activity.term}}</td>
                <td >{{ activity.week }}</td>
                <td >{{ activity.attitudes }}</td>
                <td >{{ activity.monday }}</td>
                <td >{{ activity.tuesday }}</td>
                <td >{{ activity.wednesday }}</td>
                <td >{{ activity.thursday }}</td>
                <td>{{ activity.friday }}</td>
                <td >{{ activity.saturday }}</td>
                <td >{{ activity.sunday }}</td>
                <td >{{ activity.pub_date }}</td>

<td >{{ activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday }}/100</td>
<td>{% if activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday >= 70 and activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday <= 100 %} 
<p> A</p>
{% elif activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday >= 60 and activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday <= 69 %} 
<p> B</p>
{% elif activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday >= 50 and activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday <= 59 %} 
<p> C</p>
{% elif activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday >= 45 and activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday <= 49 %} 
<p> D </p>
{% elif activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday %}
<p> F </p>
                
{% endif %}
</td>

<td>{% if activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday >= 70 and activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday <= 100 %} 
<p> Distinction </p>
{% elif activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday >= 60 and activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday <= 69 %} 
<p> Excellence</p>
{% elif activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday >= 50 and activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday <= 59 %} 
<p> Credit</p>
{% elif activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday >= 45 and activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday <= 49 %} 
<p> Pass </p>
{% elif activity.monday|add:activity.tuesday|add:activity.wednesday|add:activity.thursday|add:activity.friday|add:activity.saturday|add:activity.sunday %}
<p> Fail </p>
{% endif %}

</td>{% if perms.studentreg.change_Salat %}<td>
<a href="{% url 'edit' activity.id %}">Edit </a>
</td>{% else %}<td>
<a href="#">Edit </a>
</td>
{% endif %}
                
{% if perms.studentreg.delete_Salat %}
<td><a href="{% url 'delete' activity.id %}" class="text-danger">Delete </a></td>

                        {% else %}
<td><a href="#">Delete </a></td>
{% endif %}
<td></td>
                
                </tr>
                </div>
                {% endfor %}
        </tbody>
        
</table>
</div>
 {% endblock %}

